html, body {  
  background: #000000;  
  color: #ffffff;  
}

.aligncenter {
    text-align: center;
}

@font-face {
  font-family: hack;
  src: ../font/hack.ttf;
}

@font-face {
  font-family: hackBold;
  src: ../font/hack-bold.ttf;
  font-weight: bold;
}

@font-face {
  font-family: hackItalic;
  src: ../font/hack-italic.ttf;
  font-weight: italic;
}
